html,body,header,#intro{
height:95%;
margin:0;
padding:0;
font-family: 'Roboto', sans-serif;
}
#intro{
	background: url(../img/v-m.webp) no-repeat top center fixed;
	-webkit-background-size: cover;
	background-size: cover;
	 box-sizing: border-box; 
	 text-align: left;
	 text-size-adjust: initial;
	 padding-left: 20%;
	 
}

a{
	color:#2E2E2E;

}
a:visited{
	color:lightcoral ;

}
a:active{
	color: lawngreen;
}
.top-nav-collapse{
	background:  #1c1438;
} 
@media (max-width: 768px){
	.navbar:not(.top-nav-collapse){
	background: #41537e;
	}	
}
.map-container{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
Custom map

 .navbar-brand{
	padding-right: 300px;
}